
<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#f0f0f0; min-width:320px; width:100%;">
	<tbody>
		<tr>
			<td>
            <p style="text-align: right;max-width:700px; min-width:320px; margin:10px auto;"><a href="[Hosted_Email_Link]" style="color:#807175; font-size:0.625rem">View this Email on the Web</a></p>
			<table border="0" cellpadding="0" cellspacing="0" style="background:#ffffff; max-width:700px;width:100%; margin:0 auto;">
				<tbody><!-- Logo Starts -->
					<tr>
						<td style="text-align:left; padding:20px;"><img alt="" src="[Config:Logo]" style="max-width:200px; width:45%;" /></td>
					</tr>
					<!-- Logo Ends --><!-- First section starts -->
					<tr>
						<td><a href="[A1 Link]" style="max-height:300px; overflow:hidden; display:block;"><img alt="" src="[A1 Image]" style="width:100%; display:block; " /></a></td>
					</tr>
					<tr>
						<td style="background-color:#fff; padding:20px 5% 40px;">
						<table cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
								<tr>
									<td>
									<h2 style="margin:0; text-align:left; margin-bottom:10px;"><a href="[A1 Link]" style="text-decoration:none; color:[Config:Color Scheme]; font-size:1.25rem; display:inline-block; line-height:2.5rem;">[A1 Title]</a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:left; font-size:0.875rem; color:#000; line-height:2rem; margin-bottom:10px;">[A1 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:left; font-size:0.875rem; color:#807175; font-weight:bold; line-height:1.5rem; margin-top:10px;"><a href="[A1 Link]" style="background:[Config:Color Scheme]; color:#ffffff; text-transform:uppercase; font-weight:600; padding:3px 12px;text-decoration:none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<!-- First section ends --><!-- Second Section Starts -->
					<tr>
						<td><a href="[B1 Link]" style="max-height:300px; overflow:hidden; display:block;"><img alt="" src="[B1 Image]" style="width:100%; display:block; " /></a></td>
					</tr>
					<tr>
						<td style="background-color:#fff; padding:20px 5% 40px;">
						<table cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
								<tr>
									<td>
									<h2 style="margin:0; text-align:left;"><a href="[B1 Link]" style="text-decoration:none; color:[Config:Color Scheme]; font-size:1.25rem; display:inline-block; line-height:2.5rem; margin-bottom:10px;">[B1 Title]</a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:left; font-size:0.875rem; color:#000; line-height:2rem; margin-bottom:10px;">[B1 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:left; font-size:0.875rem; color:#807175; font-weight:bold; line-height:1.5rem;margin-top:10px; "><a href="[B1 Link]" style="background:[Config:Color Scheme]; color:#ffffff; text-transform:uppercase; font-weight:600; padding:3px 12px;text-decoration:none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<!-- Second Section Ends --><!-- Third Section Starts -->
					<tr>
						<td><a href="[B2 Link]" style="max-height:300px; overflow:hidden; display:block;"><img alt="" src="[B2 Image]" style="width:100%; display:block; " /></a></td>
					</tr>
					<tr>
						<td style="background-color:#fff; padding:20px 5% 40px;">
						<table cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
								<tr>
									<td>
									<h2 style="margin:0; text-align:left; margin-bottom:10px;"><a href="[B2 Link]" style="text-decoration:none; color:[Config:Color Scheme]; font-size:1.25rem; display:inline-block; line-height:2.5rem;">[B2 Title]</a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:left; font-size:0.875rem; color:#000; line-height:2rem; margin-bottom:10px;">[B2 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:left; font-size:0.875rem; color:#807175; font-weight:bold; line-height:2rem; margin-top:10px;"><a href="[B2 Link]" style="background:[Config:Color Scheme]; color:#ffffff; text-transform:uppercase; font-weight:600; padding:3px 12px;text-decoration:none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<!-- Third Section Ends --><!-- Footer Starts -->
                    [Condition:Facebook Link|Twitter Link|LinkedIn Link|Youtube Link|Google+ Link]
					<tr>
						<td style="background-color:#f0f0f0; padding:20px 5% 10px;">
						<table cellpadding="0" cellspacing="0" style="width:100%;">
							<tbody>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#807175; font-weight:bold; line-height:1.5rem">
										[Condition:Facebook Link]<a href="[Config:Facebook Link]" style="margin-right:5px"><img alt="facebook" border="0" data-customicon="true" height="35" src="[Option:Template URL]/images/fb.png" /></a> [/Condition:Facebook Link]
										[Condition:Twitter Link]<a href="[Config:Twitter Link]" style="margin-right:5px"><img alt="twitter" border="0" data-customicon="true" height="35" src="[Option:Template URL]/images/tw.png" /></a> [/Condition:Twitter Link]
										[Condition:LinkedIn Link]<a href="[Config:LinkedIn Link]" style="margin-right:5px"><img alt="Pinterest" border="0" height="35" src="[Option:Template URL]/images/li.png" /></a> [/Condition:LinkedIn Link]
										[Condition:Google+ Link]<a href="[Config:Google+ Link]" style="margin-right:5px"><img alt="Social media" border="0" height="35" src="[Option:Template URL]/images/gp.png" /></a> [/Condition:Google+ Link]
										[Condition:Youtube Link]<a href="[Config:Youtube Link]" style="margin-right:5px"><img alt="Social media" border="0" height="35" src="[Option:Template URL]/images/yt.png" /> </a>[/Condition:Youtube Link]
                                   	</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
                    [/Condition:Facebook Link|Twitter Link|LinkedIn Link|Youtube Link|Google+ Link]
                    [Condition:Copyright Text|Footer Link Text]
					<tr>
						<td style="background-color:#f0f0f0; padding:10px 5% 40px;">
						<p style="text-align:center; color:#807175; font-size:0.875rem; line-height:100%; margin-bottom:5px;">[Config:Copyright Text]</p>

						<p style="text-align:center;color:#807175; font-size:0.875rem; line-height:100%; margin-bottom:5px;"><a href="[Config:Footer Link URL]" style="color:[Config:Color Scheme]">[Config:Footer Link Text]</a></p>
						</td>
					</tr>
					<!-- Footer Ends -->
                    [/Condition:Copyright Text|Footer Link Text]
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
